$primary:#66B21C;
$primary-overlay:rgba(50,146,166,0.1);

body {
    margin-top:105px;
}

.navbar{
    box-shadow:2px 2px 5px $primary;
    opacity: 0.9;
    background:#fff;

    // .nav-item{
    //     font-size: 1.4rem;
    //     padding-right:1.4rem;
    // }
}

#showcase {
    position: relative;
    background:url(../img/showcase.jpg);
    min-height: 675px;
    background-repeat: no-repeat;
  

    .primary-overlay {
        background:$primary-overlay;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;

    }
   
}


// #blog-header {
//     position: relative;
//     background:url(../img/showcase.jpg);
//     background-attachment: fixed;
//     background-position: 0px -150px;
//     height: 200px;

//     .primary-overlay {
//         background:$primary-overlay;
//         position: absolute;
//         top:0;
//         left:0;
//         width: 100%;
//         height: 100%;

//     }
// }


// .blog-header-image{
//     background:url(../img/domain-names.jpg);
//     height: 400px;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-position: center;
//     width:100%;
//     margin-top: 3rem;
// }



@media(max-width:768px){
    #showcase {
        min-height: 500px;
        h1{
            font-size: 4rem;
        }
    }
    .mb-resp {
        margin-bottom:1rem;
    }
}
